* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 3rem;
  max-width: 800px;
}

h2 {
  text-align: center;
  margin: 3rem 1rem 1rem 1rem;
}

form {
  width: 100%;
}

.main-label {
  display: block;
  margin: 1rem auto 0.1rem;
}

input,
textarea {
  padding: 0.3rem;
  margin: 0 1rem 1rem 0;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: 1.5rem auto 1rem;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
}

hr {
  margin-top: 3rem;
}
